{{!-- # Citation for main.hbs:
# Date: 8/1/2024
# Copied from the cs340 Node Starter guide:
# Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}

<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>
    {{!-- links to other project pages --}}
     [ <a href="/">Departments</a> | <a href="/academicAdvisors">Academic Advisors</a> | <a href="/courses">Courses</a> | <a href="faculty.html">Faculty</a> | <a href="students.html">Students</a> | <a href="studentHasCourses.html">Student Courses</a>]

    {{{body}}}

</body>
</html>